<div class= "contaienr m-5 ">
<div class="jumbotron">
  <h1 class="display-4"><%= @cocktail.name %></h1>
  <% if @cocktail.photo.attached? %>
    <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill, :className=>"show_cocktail_img"%>
  <% end %>
  <p class="lead">
    <ul>
    <% @cocktail.doses.each do |dose| %>
    <li><%= dose.ingredient.name %> ● ● ● <%= dose.description %> </li>
    <%= link_to 'Remove', dose_path(dose), method: :delete, data: {confirm: 'Are you sure?'},  class: "text-danger" %>
    <% end %>
    </ul>
  </p>
  <hr class="my-4">
  <p> The time is now DRINK:30, so make yourself a drink </p>
  <div class="dropdown">
    <%= link_to "Back to List", cocktails_path, class: "btn btn-info" %>
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    ✚ New Ingredient/Dose
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <form class="px-4 py-3">
    <h1>Add a New Dose for <%= @cocktail.name %></h1>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
    <div class="form-group">
      <%= f.association :ingredient %>
    </div>
    <div class="form-group">
      <%= f.input :description %>
    </div>
    <div class="dropdown-divider"></div>
      <%= f.submit class: "btn btn-info"  %> |
      <button type="cancel" class="btn btn-primary">Cancel</button>
    <% end %>
  </form>
</div>
</div>
</div>
</div>


