<h1>Add a New Dose for <%= @cocktail.name %></h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.association :ingredient %>
  <%= f.input :description %>
  <%= f.submit %>
<% end %>

<%= link_to "Back to Cocktail", cocktail_path(@cocktail), class: "btn btn-primary" %>
